[Desktop Entry]
Version=1.0
Type=Application
Name=Start Osp Robot
# you should change usr_name (ex:osp-nuc)
Exec=/home/usr_name/osp/scripts/setup_data/osp_robot_auto_start.sh
Icon=/home/usr_name/osp/scripts/setup_data/icons/robot.png
Terminal=true
Categories=Utility;